@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@theme{
    /*pinks*/
    --color-linen: #F7EEE9;
    --color-blush: #E8CFC9;
    --color-rose: #C9948E;
    --color-clay: #B8908C;
    --color-mauve: #7A5C5C;
    --color-bark: #3D2A2A;

    /*greens*/
    --color-fog: #E8EDE0;
    --color-sage: #C8D4B8;
    --color-lichen: #8FA080;
    --color-olive: #5A6B4A;
    --color-moss: #3D5030;

    /*neutrals*/
    --color-parchment: #FAF6F0;
    --color-cream: #F5F0E8;
    --color-sand: #F0EBE0;
    --color-taupe: #D9D0C4;
    --color-driftwood: #B0A898;
    --color-walnut: #4A3C30;

    /*fonts*/
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
    --font-jetbrains: 'JetBrains Mono', mono;
}
